body, ul{
  margin: Opx;
  padding: 0px;
  list-style: none;  
  font-size: 1.2rem;
  font-family: Comic;
  text-decoration: blink;
  background-color: gray;
  align-items: center;
}

a{
  text-decoration: blink;
  color: blue; 
  align-content: center; 
}

img{
  display: block;
  margin: 0 auto;
}

li, p{
  color: white;
  align-items: center;
}

h1, h2{
  font-size: 30px;
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.header{
  background-color: black;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  text-decoration: blink;
}

.menu{
  display: flex;
}

.menu li{
  margin-left: 10px;
}

.menu li a{
  display: block;
  padding: 10px;
}

div {
  width: 100%;
  text-align: center;
  background-image: linear-gradient(to right, red, black);
}

@font-face{
  font-family: neue;
  src: url('edosz.ttf') format('truetype');
}

.comic-neue-light {
  font-family: "Comic Neue", cursive;
  font-weight: 300;
  font-style: normal;
}
  
.comic-neue-regular {
  font-family: "Comic Neue", cursive;
  font-weight: 400;
  font-style: normal;
}
  
.comic-neue-bold {
  font-family: "Comic Neue", cursive;
  font-weight: 700;
  font-style: normal;
}
  
.comic-neue-light-italic {
  font-family: "Comic Neue", cursive;
  font-weight: 300;
  font-style: italic;
}
  
.comic-neue-regular-italic {
  font-family: "Comic Neue", cursive;
  font-weight: 400;
  font-style: italic;
}
  
.comic-neue-bold-italic {
  font-family: "Comic Neue", cursive;
  font-weight: 700;
  font-style: italic;
}
  
.par{
  color: blue;
  font-size: 20pt;
  font-family: Verdana;
  text-align: center;
}

.impar{
  color:  red;
  font-size: 16pt;
  font-family: Arial;
  text-align: center;
}